<html>
<head>
	<meta charset="utf-8">
	<title>Showoff</title>
	<link rel="stylesheet" href="{{url_for('static', filename='Skeleton-2.0.4/css/normalize.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='Skeleton-2.0.4/css/skeleton.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='custom.css')}}">
</head>
</html>

<body>
	<div class="container-main">
		<h1 class="title element-main" style="text-align: center">Showoff</h1>

		<form class="button-container element-main" action="/" method="post">
				<input class="button-primary" type="submit" name="new_category" value="Category">
				<input class="button-primary" type="submit" name="new_modifier" value="Modify">
				<input type="hidden" name="current_category" value="{{category}}">
		</form>
		<div class="element-main" style="text-align: center">
			{{category}}
			<br>
			{{modifier}}
		</div>
	</div>
	<div class="footer">
		<a href="/rules">Rules</a>
		<a href="/about">About</a>
		<a href="/suggestions">Suggestions</a>
	</div>
</body>

<!-- <body>
	<h1>Showoff</h1>

	<form action="/" method="post">
		<input type="submit" name="new_category" value="New Category">
	</form>
	<div>
		{{category}}
	</div>

	<br>

	<form action="/" method="post">
		<input type="submit" name="new_modifier" value="Modify {{category}}">
	</form>
	<div>
		{{modifier}}
	</div>
</body> -->
